  html {
    scroll-behavior: smooth !important;
    font-family: 'Open Sans', sans-serif !important;
  }


  .card {
    position: unset !important;
  }

  .navbar {
    overflow: hidden;
    background-color: white;
    position: fixed !important;
    /* Set the navbar to fixed position */
    top: 0 !important;
    /* Position the navbar at the top of the page */
    width: 100% !important;
    /* Full width */
  }

  .navbar.dark {
    overflow: hidden;
    background-color: black !important;
    position: fixed !important;
    /* Set the navbar to fixed position */
    top: 0 !important;
    /* Position the navbar at the top of the page */
    width: 100% !important;
    /* Full width */
  }


  .jumbotron {
    top: 5 !important;
    padding-top: 5rem !important;
  }

  .nav li {
    display: inline-block;
  }

  div.panel-group {
    outline: 2px;
    outline-color: lightslategray;
  }

  .stylizedDiv {
    padding: 1%;
    background-color: #EDE5F6;
    fill-opacity: 50%;
    width: 100%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 600px;
  }

  .center2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center3 {
    width: 300px;
    padding-top: 1rem;
  }

  a.stylized {
    color: #B24DFF;
  }

  b.stylized {
    color: black;
    font-weight: normal;
    float: left !important;
    text-align: left;
  }

  .rotated {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }


  .darkb {
    color: white !important;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .imgTable {
    max-width: 300px;
    transform: translateX(50%);
  }

  h2.darkmode {
    color: #eee;
  }

  .dark-mode {
    background-color: #111 !important;
    color: #eee;
  }

  body.dark-mode a {
    color: #111;
  }

  body.dark-mode button {
    background-color: #eee;
    color: #111;
  }

  body.light-mode {
    background-color: #eee;
    color: #111;
  }

  body.light-mode a {
    color: #111;
  }

  body.light-mode button {
    background-color: #111;
    color: #eee;
  }

  #switch {
    visibility: hidden;
    position: absolute;
  }

  .switch-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s all ease;
  }

  .switch-label .toggle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #eb008c;
    position: absolute;
    left: 3px;
    transition: .5s all ease;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
    width: 100%;
    height: 100vh;
  }

  #switch:checked~.switch-label {
    background: #eb008c;
    border: none;
    transition: .5s all ease;
  }

  #switch:checked~.switch-label .toggle {
    height: 12.5px;
    border-radius: 25px 25px 0 0;
    background: transparent;
    box-shadow: 0 -6px 0 0 #fff;
    transform: scale(0.9) translateX(75px) rotate(90deg);
    transition: .7s all ease;
  }

  .dark {
    background: #000;
    transition: 1s all ease;
  }

  .divdark {
    background: #4f2683 !important;
    transition: 1s all ease !important;
  }

  .darkjumbo {
    background: #4f2683 !important;
    transition: 1s all ease !important;
  }

  .darkCard {
    background: #807F83;
    color: white;
    transition: 1s all ease;
  }

  .darkCardHeader {
    background: #4f2683 !important;
  }

  .darkbtn {
    background: #4f2683 !important;
    color: white !important;
  }